1. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume".

In [ ]:
import pandas as pd
a = pd.read_csv('sp500hst.txt')
a.columns =["date", "ticker", "open", "high", "low", "close", "volume"]
a

           date ticker   open     high     low  close   volume
0      20090824      A  25.64  25.7400  25.330  25.50  22247.0
1      20090825      A  25.50  25.7000  25.225  25.34  30891.0
2      20090826      A  25.32  25.6425  25.145  25.48  33334.0
3      20090827      A  25.50  25.5700  25.230  25.54  70176.0
4      20090828      A  25.67  26.0500  25.630  25.83  39694.0
...         ...    ...    ...      ...     ...    ...      ...
36060  20090930    EIX  33.93  34.0400  33.290  33.58  30162.0
36061  20091001    EIX  33.59  33.5900  33.000  33.00  23996.0
36062  20091002    EIX  32.75  32.7500  32.390  32.52  21276.0
36063  20091005    EIX  32.57  32.8700  32.260  32.87  30877.0
36064  20091006    EIX   3.00      NaN     NaN    NaN      NaN

[36065 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [ ]:
print( a['date'].mean(),"\n", a['open'].mean(),"\n", a['high'].mean(),"\n", a['low'].mean(),"\n", a['close'].mean(),"\n", a['volume'].mean())

20097110.014751144
 44.70709967281297
 45.24337253771075
 44.144186959294586
 44.71844671694765
 110962.12034161491

3.Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [ ]:
a["month"] = a["date"]//100%100
a

            date ticker   open     high     low  close  volume  month
0       20090824      A  25.64  25.7400  25.330  25.50   22247      8
1       20090825      A  25.50  25.7000  25.225  25.34   30891      8
2       20090826      A  25.32  25.6425  25.145  25.48   33334      8
3       20090827      A  25.50  25.5700  25.230  25.54   70176      8
4       20090828      A  25.67  26.0500  25.630  25.83   39694      8
...          ...    ...    ...      ...     ...    ...     ...    ...
122568  20100813    ZMH  51.72  51.9000  51.380  51.44   14561      8
122569  20100816    ZMH  51.13  51.4700  50.600  51.00   13489      8
122570  20100817    ZMH  51.14  51.6000  50.890  51.21   20498      8
122571  20100819    ZMH  51.63  51.6300  50.170  50.22   18259      8
122572  20100820    ZMH  50.03  50.5500  49.480  49.82   17792      8

[122573 rows x 8 columns]

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [ ]:
print(a.groupby(['ticker'])['volume'].sum())

ticker
A        8574578
AA      81898998
AAPL    52261170
ABC      9006756
ABT     18975870
          ...
XTO     21297931
YHOO    56837171
YUM     10971538
ZION    15551119
ZMH      4938916
Name: volume, Length: 524, dtype: int64

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла sp_data2.csv . В случае нехватки данных об именах тикеров корректно обработать их.

1.1 В файлах recipes_sample.csv и reviews_sample.csv находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде pd.DataFrame с названиями recipes и reviews. Обратите внимание на корректное считывание столбца с индексами в таблице reviews (безымянный столбец).

In [ ]:
import pandas as pd
recipes = pd.read_csv('recipes_sample.csv')
reviews = pd.read_csv('/content/reviews_sample.csv')
print(recipes)
print(reviews)

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id   submitted  n_steps  \
0               35193  2002-10-25      NaN
1               91970  2003-07-26      NaN
2                1533  2002-08-29      NaN
3               22724  2002-07-27      NaN
4                4470  2004-02-23      4.0
...               ...         ...      ...
29995          200862  2007-11-25     16.0
29996          177443  2009-08-24      NaN
29997          161745  2004-11-03      NaN
29998          227978  2012-08-29      NaN
29999          506822  2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[30000 rows x 8 columns]
        Unnamed: 0     user_id  recipe_id        date  rating  \
0           370476       21752      57993  2003-05-01       5
1           624300      431813     142201  2007-09-16       5
2           187037      400708     252013  2008-01-10       4
3           706134  2001852463     404716  2017-12-11       5
4           312179       95810     129396  2008-03-14       5
...            ...         ...        ...         ...     ...
126691     1013457     1270706     335534  2009-05-17       4
126692      158736     2282344       8701  2012-06-03       0
126693     1059834      689540     222001  2008-04-08       5
126694      453285  2000242659     354979  2015-06-02       5
126695      691207      463435     415599  2010-09-30       5

                                                   review
0       Last week whole sides of frozen salmon fillet ...
1       So simple and so tasty!  I used a yellow capsi...
2       Very nice breakfast HH, easy to make and yummy...
3       These are a favorite for the holidays and so e...
4       Excellent soup!  The tomato flavor is just gre...
...                                                   ...
126691  This recipe was great! I made it last night. I...
126692  This recipe is outstanding. I followed the rec...
126693  Well, we were not a crowd but it was a fabulou...
126694  I have been a steak eater and dedicated BBQ gr...
126695  Wonderful and simple to prepare seasoning blen...

[126696 rows x 6 columns]

1.2 Для каждой из таблиц выведите основные параметры:

количество точек данных (строк);
количество столбцов;
тип данных каждого столбца.

In [ ]:
print('Количество строк','\n', 'recipes:', len(recipes.axes[0]),'\n','reviews:', len(reviews.axes[0]),'\n' )
print('Количество столбцов','\n', 'recipes:', len(recipes.axes[1]),'\n','reviews:', len(reviews.axes[1]),'\n' )
print( 'Типы данных','\n','\n', 'recipes:','\n', recipes.dtypes,'\n','\n', 'reviews:','\n' ,reviews.dtypes)

Количество строк
 recipes: 30000
 reviews: 126696

Количество столбцов
 recipes: 8
 reviews: 6

Типы данных

 recipes:
 name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

 reviews:
 Unnamed: 0     int64
user_id        int64
recipe_id      int64
date          object
rating         int64
review        object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [ ]:
print('Количество пропусков в столбце','\n','\n','recipes:','\n', recipes.isnull().sum (),'\n','\n','reviews:','\n', reviews.isnull().sum (),'\n')
print('Доля строк','\n','\n', sum([True for idx,row in recipes.iterrows() if any(row.isnull())])/len(recipes.axes[0]),'\n','\n',sum([True for idx,row in reviews.iterrows() if any(row.isnull())])/len(reviews.axes[0]) )

Количество пропусков в столбце

 recipes:
 name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64

 reviews:
 Unnamed: 0     0
user_id        0
recipe_id      0
date           0
rating         0
review        17
dtype: int64

Доля строк

 0.5684666666666667

 0.00013417945317926376

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [ ]:
print('reviews','\n', '  rating', round(reviews['rating'].mean(), 2),'\n')
print('recipes','\n', 'minutes', round(recipes['minutes'].mean(), 2),'\n')
print('n_ingredients', round(recipes['n_ingredients'].mean(), 2),'\n')
print('n_steps', round(recipes['n_steps'].mean(), 2),'\n')

reviews
   rating 4.41

recipes
 minutes 123.36

n_ingredients 9.01

n_steps 9.81

1.5 Создайте серию из 10 случайных названий рецептов.

In [ ]:
l=recipes.sample(n = 10)
print('10 рандомных рецептов:','\n', l)

10 рандомных рецептов:
                                                     name      id  minutes  \
13730                          hidden veggie sloppy joes  433060       40
28190                                  turkey fried rice  271802       60
21431                                potato rolled tacos  208401       55
28593                    vegan egg replacer   substitute  203168        5
1131                                        arroz c atum  158917       40
27170                                      texas brisket  326347     1680
4583                cantaloupe salad  insalata di melone  165285       10
4237   butternut pumpkin  squash   roasted hazelnut a...  352900       60
25764                     squash casserole with dressing  110554       40
5599                  chicken and noodles with dumplings   30963      120

       contributor_id   submitted  n_steps  \
13730          228458  2010-07-23      NaN
28190           20754  2007-12-13     17.0
21431          358513  2007-01-30     17.0
28593           43642  2007-01-03      NaN
1131           299531  2006-03-07      8.0
27170          644757  2008-09-22     16.0
4583           180898  2006-04-24      2.0
4237           278516  2009-01-29     12.0
25764           82616  2005-02-07      NaN
5599            32330  2002-06-12      NaN

                                             description  n_ingredients
13730  from cooking light, jan 1997. original calls f...            NaN
28190  great way to use up that leftover turkey and t...           10.0
21431  potatoes with jalapeños and cheese rolled in a...            NaN
28593  i often use flax seed and water as an egg repl...            4.0
1131   this is a cape verdean classic. i grew up in a...           13.0
27170  delicious and tender brisket with fabulous mop...           13.0
4583   this is wonderful. don't run because it sounds...            NaN
4237   we're in a middle of a week-long 40°c+ (104°f+...            8.0
25764   nummy !!!! great pot luck dish, or anytime dish.            7.0
5599   this is truly a comfort dish. the dumplings re...            NaN

1.6 Измените индекс в таблице reviews, пронумеровав строки, начиная с нуля.

In [ ]:
?

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [ ]:
f = recipes[recipes['minutes'] <= 20]
f = f[f['n_ingredients'] <= 5]
print(f)

                                                    name      id  minutes  \
28                                   quick biscuit bread  302399       20
60                         peas  fit for a king or queen  303944       20
90                     hawaiian sunrise           mimosa  100837        5
91            tasty dish s   banana pudding in 2 minutes  286484        2
94                                    1 minute meatballs   11361       13
...                                                  ...     ...      ...
29873  zip and steam red potatoes with butter and garlic  304922       13
29874                          ziplock vanilla ice cream   74250       10
29905                      zucchini and corn with cheese  256177       15
29980               zucchini with jalapeno monterey jack  320622       10
29983                          zucchini with serrano ham  162411       15

       contributor_id   submitted  n_steps  \
28             213909  2008-05-06     11.0
60             213909  2008-05-16      NaN
90              58104  2004-09-29      4.0
91              47892  2008-02-13      NaN
94               4470  2001-09-03      NaN
...               ...         ...      ...
29873          724218  2008-05-27      9.0
29874           24386  2003-10-29      8.0
29905          305531  2007-09-29      4.0
29980          305531  2008-08-20      3.0
29983          152500  2006-03-31      6.0

                                             description  n_ingredients
28     this is a wonderful quick bread to make as an ...            5.0
60     this recipe is so simple and the flavors are s...            5.0
90     pineapple mimosa was changed to hawaiian sunri...            3.0
91     "mmmm, i love bananas!" a --tasty dish-- origi...            4.0
94     this is a real short cut for cooks in a hurry....            2.0
...                                                  ...            ...
29873  i haven't tried this yet, but i am going to so...            5.0
29874  a fun thing for kids to do. may want to use mi...            3.0
29905  from betty crocker fresh spring recipes. i lik...            5.0
29980                                  simple and yummy!            3.0
29983  this dish is from tim malzer, a german chef wh...            5.0

[2019 rows x 8 columns]

2.1 Преобразуйте столбец submitted из таблицы recipes в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [ ]:
recipes['submitted'] = pd.to_datetime(recipes['submitted'])
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [ ]:
df = recipes[recipes['submitted'] >= '2010-01-01']
df

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
8,1 in canada chocolate chip cookies,453467,45,1848091,2011-04-11,12.0,this is the recipe that we use at my school ca...,11.0
13,blepandekager danish apple pancakes,503475,50,128473,2013-07-08,10.0,this recipe has been posted here for play in z...,NaN
36,5 minute bread pizza,487173,45,2406227,2012-09-19,30.0,my son recently showed me a recipe for artisan...,8.0
39,bacon cheeseburger and fries soup,447429,60,1355934,2011-01-26,NaN,"my son asked for cheeseburger soup, and having...",17.0
47,full cool macaroni and cheese,463219,25,383346,2011-08-28,8.0,a recipe from ricardo that is popular with kid...,11.0
...,...,...,...,...,...,...,...,...
29965,zucchini sausage casserole,472482,80,447199,2012-01-20,13.0,this was a real hit with my family! this recip...,NaN
29976,zucchini tots,505053,20,798181,2013-07-31,NaN,'the happy homemaker blog' shared this recipe ...,NaN
29992,zucchini courgette soup good for weight watc...,415406,45,485109,2010-03-04,5.0,this is a favourite winter warmer. by british ...,NaN
29994,zuppa by luisa,464576,70,226863,2011-09-20,14.0,this soup is a hearty meal! from luisa musso.,17.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN

3.1 Добавьте в таблицу recipes столбец description_length, в котором хранится длина описания рецепта из столбца description.

In [ ]:
k = []
t = recipes['description'].tolist()
for i in t:
    k.append(len(str(i)))
recipes['description_length'] = k
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.2 Измените название каждого рецепта в таблице recipes таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [ ]:
k = []
t = recipes['name'].tolist()
for i in t:
    k.append(i.lower())
recipes['name'] = k
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.3 Добавьте в таблицу recipes столбец name_word_count, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [ ]:
k = []
t = recipes['name'].tolist()
for i in t:
    k.append(len(i.split()))
recipes['name_word_count'] = k
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330,8
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255,5
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39,7
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154,3
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587,8
...,...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484,8
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286,4
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311,5
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648,2
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125,7

4.1 Посчитайте количество рецептов, представленных каждым из участников (contributor_id). Какой участник добавил максимальное кол-во рецептов?

In [ ]:
f = recipes.groupby(['contributor_id']).count()['name']
print('Cамый активный пользователь', f[f == f.max()])
f

Cамый активный пользователь contributor_id
89831    421
Name: name, dtype: int64

contributor_id
1530            5
1533          186
1534           50
1535           40
1538            8
             ...
2001968497      2
2002059754      1
2002234079      1
2002234259      1
2002247884      1
Name: name, Length: 8404, dtype: int64

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [ ]:
f = round(reviews.groupby(['recipe_id']).mean()['rating'], 2)
print(f)
f1 = reviews[reviews['review'].isna() == True]['recipe_id']
f1.index = [i for i in range(len(f1))]
f1.head()

recipe_id
48        1.00
55        4.75
66        4.94
91        4.75
94        5.00
          ...
536547    5.00
536610    0.00
536728    4.00
536729    4.75
536747    0.00
Name: rating, Length: 28100, dtype: float64

0      9054
1    167202
2      9054
3    335709
4     15553
Name: recipe_id, dtype: int64